@import url('https://fonts.google.com/share?selection.family=Caveat:wght@400..700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b0f08;
    color: #222;
    padding: 0;
}

.img-fundo {
    position: fixed;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 800px;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

.main-wrapper {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-center {
    font-size: 30px;
    color: #dec7c1;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 20px;
    font-family: "Caveat";
}

.question-text {
    color: #dec7c1;
    font-size: 30px;
    font-family: "Caveat";
}

.quadro-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -190px;
    margin-bottom: -20px;
    z-index: -1;
    position: relative;
}

.quadro-img {
    width:500px;
    height: auto;
    display: block;
}

.conteudo {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #000;
}

.objetos-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom:70px;
    position: relative;
    z-index: 10;
}

.obj {
    width: min(120px, 22vw);
    aspect-ratio: 1 / 1;
    position: relative;
    cursor: pointer;
}

.obj img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

.obj.gelo {
    transform: scale(0.75) translateY(24px);
}

.obj .cor { opacity: 0; }
.obj.ativo .cor { opacity: 1; }
.obj.ativo .sombra { opacity: 0; }

.descricao-selecao {
    font-family: "Montserrat";
    color: #dec7c1;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 0.9rem;
    min-height: 26px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-family: "Montserrat", sans-serif;

}

.btn {
    background-color: transparent;
    color: #dec7c1;
    border: 2px solid #dec7c1;
    border-radius: 10px;
    padding: 10px 26px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.5;
}

.scale-wrapper {
    width: 100%;
    transform-origin: top center;
    position: relative;
}

.page-scale {
    position: relative;
    width: 100%;
    transform-origin: top center;
    transition: 0.3s ease;
}

input[type="radio"] {
    display: none !important;
    appearance: none !important;
    -webkit-appearance: none !important;
}



