@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

* {
    font-family: "Montserrat", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#la-canvas,
#carne-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#la-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#carne-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

}

.page {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
}

.nomes {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

}

.nomes p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #3C140B;
}

h1 {
    position: absolute;
    right: 50px;
    bottom: 120px;
    text-align: right;
    line-height: 1;
    margin: 0;
    color: #3C140B;
    font-family: "Montserrat Black", sans-serif;
    font-size: 125px;
}

.subtitle{
    position: absolute;
    right: 840px;
    bottom: 230px;
    text-align: right;
    margin: 0;
    color: #3C140B;
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 15px;
}

.text-center {
    position: absolute;
    bottom: 50px;
    right: 50px;
    text-align: right;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #3C140B;
}


.btn-row {
    position: absolute;
    bottom: 50px;
}

.btn{
    font-family: "Montserrat Black", sans-serif;
    font-size: 23px;
    color: #3C140B;
    display: inline-block;
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}


@media (max-width: 1400px) {
    .nomes p{
        font-size: 17px;
    }
    h1{
        font-size: 110px;
        bottom: 100px;
    }
    .subtitle{
        font-size: 13px;
        right: 750px;
        bottom: 200px;
    }
    .text-center{
        font-size: 20px;
    }
    .btn{
        font-size: 20px;
    }
}

@media (max-width: 1250px) {
    .nomes p{
        font-size: 15px;
    }
    h1{
        font-size: 100px;
        bottom: 90px;
    }
    .subtitle{
        font-size: 12px;
        right: 690px;
        bottom: 180px;
    }
    .text-center{
        font-size: 18px;
    }
    .btn{
        font-size: 18px;
    }
}

@media (max-width: 1150px) {
    .nomes p{
        font-size: 15px;
        margin-top: -20px;
    }
    h1{
        font-size: 90px;
        bottom: 80px;
    }
    .subtitle{
        font-size: 10px;
        right: 620px;
        bottom: 163px;
    }
    .text-center{
        font-size: 16px;
    }
    .btn{
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .nomes p{
        font-size: 13px;
        margin-top: -20px;
    }
    h1{
        font-size: 80px;
    }
    .subtitle{
        font-size: 10px;
        right: 565px;
        bottom: 155px;
    }
    .text-center{
        font-size: 14px;
    }
    .btn{
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .nomes p{
        font-size: 13px;
        margin-top: -20px;
    }
    h1{
        font-size: 70px;
    }
    .subtitle{
        font-size: 10px;
        right: 500px;
        bottom: 145px;
    }
    .text-center{
        font-size: 13px;
    }
    .btn{
        font-size: 13px;
    }
}

@media (max-width: 820px) {
    .nomes p{
        font-size: 13px;
        margin-top: -20px;
    }
    h1{
        font-size: 60px;
    }
    .subtitle{
        font-size: 10px;
        right: 435px;
        bottom: 135px;
    }
    .text-center{
        font-size: 13px;
    }
    .btn{
        font-size: 13px;
    }
}

@media (max-width: 780px) {
    .nomes p{
        font-size: 13px;
        margin-top: -20px;
    }
    h1{
        font-size: 50px;
    }
    .subtitle{
        font-size: 9px;
        right: 370px;
        bottom: 125px;
    }
    .text-center{
        font-size: 12px;
    }
    .btn{
        font-size: 12px;
    }
}
