@font-face {
    font-family: 'CourierPrime';
    src: url('../fonts/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222020;
    font-family: "Courier Prime", monospace;
    color: #8d8664;
    overflow: hidden;
}

/* LAYOUT EM DUAS COLUNAS */
.layout {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* ESQUERDA — TERMINAL */
.terminal-wrapper {
    width: 50%;
    padding: 20px;
    font-weight: bold;
}

#terminal {
    font-size: 17px;
    white-space: pre-wrap;
    line-height: 1.6;
}

.cursor {
    display: inline-block;
    width: 8px;
    background: #8d8664;
    animation: blink 0.6s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

/*gráfico à direita*/
.ecg-wrapper {
    width: 50%;

    position: relative;
    margin: 20px;
    border: 3px solid #8d8664;
    border-radius: 20px;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 1510px){
    #terminal{
        font-size: 16px;
    }
}

@media (max-width: 1400px){
    #terminal{
        font-size: 15px;
    }
}
