@font-face{
    font-family: 'Montserrat';
    src: url(.../fonts/Montserrat/Montserrat-VariableFont_wght);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f5f8;
    color: #0d1117;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.main-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.title-center {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 55px;
    font-weight: 900;
}

.card {
    max-width: 580px;
}

.question-text {
    font-size: 45px;
    font-weight: bold ;
    margin-bottom: 15px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-label {
    font-size: 37px;
    font-weight: bold;
    cursor: pointer;
}

.option-label:hover{
    color: #405270;
}

.option-label input[type="radio"] {
    display: none;
}

.button-row {
    margin-top: 15px;
}

.btn {
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}

.btn:hover{
    color: #405270;
}